@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained.css");

#panel_window {
    background-color: black;
    color: white;
    font: bold;
    text-shadow: 0 1px alpha(black, 0.5);
    -gtk-icon-shadow: 0 1px alpha(black, 0.5);
    box-shadow: inset 0 -1px alpha (black, 0.5);
}

#login_window,
#shutdown_dialog,
#restart_dialog {
    border-style: none;
    border-radius: 8px;
    /* the window widget doesn't have a border, so draw border using box-shadow */
    box-shadow: inset 1px 0 shade(@lightdm_bg_color, 0.6),
                inset -1px 0 shade(@lightdm_bg_color, 0.6),
                inset 0 1px shade(@lightdm_bg_color, 0.6),
                inset 0 -1px shade(@lightdm_bg_color, 0.6);
}
